body {
    background-image: url('../assets/fondo_portafolio.jpg');
    background-size: cover; /* Cubre toda la pantalla */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* 🔥 Hace que la imagen NO se mueva con el scroll */
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Usa min-height en vez de height fija */
    overflow: hidden; /* 🔥 Evita que haya scroll si no es necesario */
}

.contenedor {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 10vh;
}

.imgboton {
  width: 150px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.imgboton:hover {
  transform: scale(1.1);
}