.body1 {
    background-image: url('assets/fondo.png');
    background-size: cover; /* Cubre toda la pantalla */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* 🔥 Hace que la imagen NO se mueva con el scroll */
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Usa min-height en vez de height fija */
    overflow: hidden; /* 🔥 Evita que haya scroll si no es necesario */
}

.botoninicio {
    position: fixed; /* 🔥 Fija el botón en la pantalla */
    top: 25%; /* Lo centra verticalmente */
    left: 80%; /* Lo centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajuste preciso para centrarlo */
    background-color: #a94547;
    color: white;
    font-size: 60px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    display: inline-block;
    transition: 0.3s;
}

.botonatras {
    background-color: #a94547; /* Color de fondo */
    color: white; /* Color del texto */
    font-size: 15px; /* Tamaño del texto */
    text-decoration: none; /* Quita el subrayado */
    padding: 10px 20px; /* Espaciado interno */
    margin: 10px 10px; /*Posicion? */
    border-radius: 20px; /* Bordes redondeados */
    display: inline-block; /* Ajusta el tamaño al contenido */
    transition: 0.3s; /* Suaviza el cambio de color */
}

p {padding: 10px 20px;}